.linkSobreMi {
    display: inline;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin-left: 5px;
}

.borderSUB {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 110%;
    border-bottom: 10px solid var(--bg-color-secondary);
}

.imgProfile {
    width: 200px;
}

.btnSobreMi {
    border: 0;
    outline: none;
    background-color: var(--bg-color-secondary);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 22px;
    width: 80px;
    height: 30px;
}

.textSobreMi,
.textContact {
    font-size: 20px;
    font-weight: 200;
    line-height: 23px;
}

.contactSobreMi {
    display: flex;
    flex-direction: column;
}

.lineSobreMi {
    border-bottom: 1px solid #686868;
}

.linksSobreMi a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    margin: 0 20px;
}

.infoRedes {
    display: none;
}

.infoSobreMi {
    width: 70vw;
}

@media(min-width:770px) {
    .infoSobreMi {
        width: 80vw;
    }

    .textSobreMi,
    .textContact {
        font-size: 15px;
    }

    .imgProfile {
        width: 210px;
    }

    .imgBtnSobreMi {
        margin-right: 20px;
    }


    .linksSobreMi a {
        margin-right: 17px;
        font-size: 30px;
    }

    .linksSobreMi a:first-child {
        margin-left: 0;
    }
}
@media(min-width:1070px){
    .infoSobreMi {
        width: 70vw;
    }
    .infoRedes {
        display: inline;
        font-size: 16px;
        font-weight: 400;
        margin-left: 5px;
    }
}
@media(min-width:1400px) {
    
    .textSobreMi,
    .textContact {
        font-size: 18px;
    }

    .infoSobreMi {
        width: 120vh;
    }

    .imgProfile {
        width: 270px;
    }

}

.linksSobreMi a:hover {
    color: var(--bg-color-secondary);
}