.dataline{
    width: 70vw;
    border-top: 1px solid #686868;
}
.imglogoIso{
    width: 90px;
}

.linkRedes{
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
}.iconRedes{
    font-size: 23px;   
}

@media(min-width:0px) and (max-width:410px){
    .iconRedes{
        font-size: 32px;
    }
    .linkRedes{
        
        margin: 8px 0;
    }
    .linkRedes b{display: none;}
}
@media(min-width:770px) {
    .dataline{
        margin-top: 60px;
    }
    .linkRedes{
        font-size: 13px;
        margin: 20px 20px 10px 20px;
    }
    .iconRedes{
        font-size: 25px;   
    }
}
@media(min-width:1400px) {
    .dataline{
        width: 80vw;
        
    }
    .imglogoIso{
        margin-top: 20px;
        width: 150px;
       
    }
    .iconRedes{
        font-size: 28px;   
    }
    .linkRedes{
        margin: 30px 10px;
        font-size: 16px;
        
    }
}

.linkRedes:hover{
    color: var(--bg-color-secondary)
}