.dataline{
    width: 70vw;
    border-top: 1px solid #686868;
}
.imglogoIso{
    width: 90px;
    margin-bottom: 20px;
}

.linkRedes{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
}

@media(min-width:0px) and (max-width:410px){
    .linkRedes{
        font-size: 26px;
        margin: 5px 0;
    }
    .linkRedes b{display: none;}
}

@media(min-width:1400px) {
    .dataline{
        width: 80vw;
        margin-top: 60px;
    }
    .imglogoIso{
        margin-top: 20px;
        width: 150px;
        margin-bottom: 40px;
    }
    .iconRedes{
        font-size: 26px;
        
    }
    .linkRedes{
        margin: 30px 10px;
    }
}

.linkRedes:hover{
    color: var(--bg-color-secondary)
}