.proyectosContain {
    width: 100%;
    background-color: var(--bg-color-secondary);
    padding: 30px 0;
    margin: 50px 0;
    z-index: -1;
}

.linkPro {
    color: #fff;
    display: inline;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin-left: 5px;
    z-index: 0;

}

.borderPro {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 110%;
    border-bottom: 10px solid #000;
}

.cardDataPro {
    background-color: #fff;
    width: 250px !important;
}

.tituloPro {
    font-weight: bold !important;
}

.subTituloPro {
    border-top: 1px solid #0003;
    padding-top: 5px;
    font-weight: 300 !important;
}

.tituloPro,
.subTituloPro {
    font-size: 20px !important;
}

.btnProyects {
    background-color: transparent;
    color: var(--bg-color-secondary);
    border: 1px solid #bdbdbd;
    border-radius: 22px;
    outline: 0;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 700;
}


/* ----- PRUEBA ----- */

.imagePru{
    width: 400px;
}

.linePru{
    background-color: #0005;
    width: 100%;
    height: 1px;
}
.infoPru{
    height: 210px;
}
.tituloPru{
    padding: 0;
    margin: 5px 0;
    font-size: 22px;
}
.imgAndInfo{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.subtituloPru{
    margin: 5px 0;
    font-size: 18px;
}

.btnPru{
    position: absolute;
    right: 20px;
    bottom: 28px;
}
.btnInfoPru,.btnPru{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    border: 1px solid #BDBDBD;
    border-radius: 22px;
    background-color: transparent;
    color: var(--bg-color-secondary);
    margin: 0;
}

.closeData{
    position: absolute;
    right: 30px;
    font-size: 22px;
    border-radius: 6px;
    background-color: transparent;
    color: #595959;
    border: 1px solid #BDBDBD;
    cursor: pointer;
    transition: all 0.2s ease;
}
.closeData:hover{
    background-color: var(--bg-color-secondary);
    color: #fff;
    border: 1px solid var(--bg-color-secondary);
}
.techInfoPru{
    position: absolute;
    height: 210px;
    left:0;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.disablePru{
    position: absolute;
    height: 210px;
    left:-400px;
    background-color: #fff; 
    transition: all 0.3s ease-in-out;
}